.banner_pic {
    max-height: 250px;
    overflow: hidden;
}

.product_hot {
    font-size: 1.5rem;
    text-align: center;
}
.title_product {
    margin-bottom: 10px;
}
.title_product h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.title_product p {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(122, 122, 122);
    max-width: 50vw;
}

/* header-search */
.wrap-header-search .search_form {
    font-size: 15px;
    border: 1px solid #666;
    border-radius: 3px;
    padding: 6px 8px;
    width: 100%;
    margin-bottom: 20px;
}

.wrap-header-search .search_form .search_form-input {
    margin-left: 5px;
}
